body {
  font-family: sans-serif;
}
.mainview {
  position: relative;
  width: 189px;
  top: 30%;
  left: 30%;
  /* transform: translateX(-30%) translateY(-30%); */
  background-color: black;
}
.btn {
  height: 40px;
  width: 40px;
  font-size: 20px;
  margin: 1px;
}

#view {
  width: 180px;
  height: 35px;
  font-size: 6;
  cursor: pointer;
}
